.tabs{
	@include boxit;
	width: 100%;
	display:none;
	border:1px solid $grey;
	.ttls{
		@include boxit;
		width: 100%;
		height: 30px;
		background: $grey;
		& > div{
			@include boxit;
			display: inline-block;
			vertical-align: middle;
			height: 30px;
			line-height: 30px;
			background: $dgrey;
			color: white;
			font-weight: bold;
			text-align: center;
			&.current { background: $highlight; }
		}
	}
	.contents{
		padding: $content_padding;
		padding-top: $content_spacing;
		padding-bottom: $content_spacing;
	}
}
